<a href="https://colab.research.google.com/github/INCREDIBLE-AURNOB/Breast-Cancer-Prediction/blob/main/Breast_cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip3 install opendatasets --quiet
import opendatasets as od

In [2]:
download=od.download("https://www.kaggle.com/datasets/utkarshx27/breast-cancer-dataset-used-royston-and-altman")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: alrafiaurnob
Your Kaggle Key: ··········
Downloading breast-cancer-dataset-used-royston-and-altman.zip to ./breast-cancer-dataset-used-royston-and-altman

100%|██████████| 9.86k/9.86k [00:00<00:00, 3.95MB/s]

# Import necessary libraries

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv("/content/breast-cancer-dataset-used-royston-and-altman/gbsg.csv")
df

,Unnamed: 0,pid,age,meno,size,grade,nodes,pgr,er,hormon,rfstime,status
0,1,132,49,0,18,2,2,0,0,0,1838,0
1,2,1575,55,1,20,3,16,0,0,0,403,1
2,3,1140,56,1,40,3,3,0,0,0,1603,0
3,4,769,45,0,25,3,1,0,4,0,177,0
4,5,130,65,1,30,2,5,0,36,1,1855,0
...,...,...,...,...,...,...,...,...,...,...,...,...
681,682,586,51,0,30,3,2,1152,38,1,1760,0
682,683,1273,64,1,26,2,2,1356,1144,1,1152,0
683,684,1525,57,1,35,3,1,1490,209,1,1342,0
684,685,736,44,0,21,2,3,1600,70,0,629,0
685,686,894,80,1,7,2,7,2380,972,1,758,0

# Data analysis

#### Drop the columns that have unique values

In [10]:
df=df.drop(['Unnamed: 0','pid'],axis=1)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 686 entries, 0 to 685
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      686 non-null    int64
 1   meno     686 non-null    int64
 2   size     686 non-null    int64
 3   grade    686 non-null    int64
 4   nodes    686 non-null    int64
 5   pgr      686 non-null    int64
 6   er       686 non-null    int64
 7   hormon   686 non-null    int64
 8   rfstime  686 non-null    int64
 9   status   686 non-null    int64
dtypes: int64(10)
memory usage: 53.7 KB

age        0
meno       0
size       0
grade      0
nodes      0
pgr        0
er         0
hormon     0
rfstime    0
status     0
dtype: int64

In [15]:
df.describe()

,age,meno,size,grade,nodes,pgr,er,hormon,rfstime,status
count,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000,686.000000
mean,53.052478,0.577259,29.329446,2.116618,5.010204,109.995627,96.252187,0.358601,1124.489796,0.435860
std,10.120739,0.494355,14.296217,0.582808,5.475483,202.331552,153.083963,0.479940,642.791948,0.496231
min,21.000000,0.000000,3.000000,1.000000,1.000000,0.000000,0.000000,0.000000,8.000000,0.000000
25%,46.000000,0.000000,20.000000,2.000000,1.000000,7.000000,8.000000,0.000000,567.750000,0.000000
50%,53.000000,1.000000,25.000000,2.000000,3.000000,32.500000,36.000000,0.000000,1084.000000,0.000000
75%,61.000000,1.000000,35.000000,2.000000,7.000000,131.750000,114.000000,1.000000,1684.750000,1.000000
max,80.000000,1.000000,120.000000,3.000000,51.000000,2380.000000,1144.000000,1.000000,2659.000000,1.000000

In [17]:
df.dtypes

age        int64
meno       int64
size       int64
grade      int64
nodes      int64
pgr        int64
er         int64
hormon     int64
rfstime    int64
status     int64
dtype: object

#### Checking the null values

In [18]:
df.isnull().sum()

age        0
meno       0
size       0
grade      0
nodes      0
pgr        0
er         0
hormon     0
rfstime    0
status     0
dtype: int64